.all-categories {
  padding: 20px 0 124px;

  &__slider {
    display: flex;
    gap: 50px;
  }

  &__title {
    font-family: roboto;
    font-weight: 500;
    font-size: 32px;
    color: #023059;
  }

  &__subtitle {
    font-family: inter;
    font-weight: 600;
    font-size: 16px;
    margin: 10px 0 35px;

    & a {
      color: #a5b6bc;
      text-decoration: underline;
    }
  }

  &__slide {
    cursor: pointer;
    flex: 0 1 235px;
    text-align: center;
  }

  &__painting {
    height: 287px;

    & img {
      width: 100%;
      height: 287px;
      object-fit: contain;
    }
  }

  &__name {
    margin: 30px 0 0 0;
  }

  @media (max-width: 1300px) {
  }
  @media (max-width: 992px) {
  }
  @media (max-width: 768px) {
  }
}
