.find-art {
  padding: 50px 0;
  background: linear-gradient(
    359.2deg,
    rgba(46, 136, 211, 0.17) 54.35%,
    rgba(249, 168, 212, 0.0935) 88.61%,
    rgba(255, 255, 255, 0.809) 152.23%
  );

  text-align: center;

  &__title {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: roboto;
    font-weight: 500;
    font-size: 32px;
    color: #023059;
  }

  &__text {
    font-family: roboto;
    font-weight: 400;
    font-size: 20px;
    color: #8b949c;
    max-width: 415px;
    margin: 27px auto;
  }

  &__btns {
    display: flex;
    gap: 157px;
    justify-content: center;

    & button {
      text-transform: uppercase;
      font-family: roboto;
      font-weight: 800;
      font-size: 16px;
      padding: 18px 88px;
      color: #fff;
      border-radius: 4px;
    }
  }

  &__help {
    background: #f579bd;
  }

  &__yourself {
    background: #5cd3cb;
  }

  @media (max-width: 1300px) {
  }
  @media (max-width: 992px) {
  }
  @media (max-width: 768px) {
    &__btns {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
