.header {
  background: #fdfdfd;
  position: relative;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
  }

  &__list {
    font-family: inder;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    gap: 26px;

    & a {
      color: #022479;
    }
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__panel {
    display: flex;
    gap: 33px;
  }

  // adaptive

  @media (max-width: 1300px) {
    &__list {
      font-size: 14px;
    }
  }
  @media (max-width: 992px) {
    &__list {
      font-size: 12px;
    }
  }
  @media (max-width: 768px) {
    padding: 10px 0;

    &__nav {
      display: none;
    }
    &__panel {
      display: none;
    }

    &__nav.active {
      display: block;
      background: #fff;
      min-height: 100vh;
      min-width: 100vw;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10000;
    }

    &__list.active {
      flex-direction: column;
      position: absolute;
      font-size: 18px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__panel.active {
      display: flex;

      z-index: 10001;

      & svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
