.new-items {
  padding: 50px 0;

  &__title {
    font-family: roboto;
    font-weight: 500;
    font-size: 32px;
    color: #023059;
  }

  &__subtitle {
    font-family: inter;
    font-weight: 600;
    font-size: 16px;
    margin: 10px 0 35px;

    & a {
      color: #a5b6bc;
      text-decoration: underline;
    }
  }

  &__slider {
    cursor: pointer;

    position: relative;
  }

  &__slide {
    width: 950px;
    height: 700px;

    & img {
      width: 100%;
      height: 700px;
      object-fit: contain;
    }
  }

  @media (max-width: 1300px) {
  }
  @media (max-width: 992px) {
    &__slide {
      height: 400px;

      & img {
        width: 100%;
        height: 400px;
      }
    }
  }
  @media (max-width: 768px) {
    &__slide {
      width: 950px;
      height: 250px;

      & img {
        width: 100%;
        height: 250px;
      }
    }
  }
}
