.header {
    background: #fdfdfd;
    position: relative;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
    }

    &__list {
        font-family: inder;
        font-weight: 400;
        font-size: 18px;

        display: flex;
        gap: 26px;

        & a {
            color: #022479;
        }
    }

    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__panel {
        display: flex;
        gap: 33px;
    }
}
