@import "./statics/null.scss";
@import "./statics/font.scss";
@import "./components/FindArt.scss";
@import "./components/Team.scss";
@import "./components/BatBanner.scss";
@import "./components/DiscoverStyle.scss";
@import "./components/NewItems.scss";
@import "./components/SelectedArt.scss";
@import "./components/BuyOnline.scss";
@import "./components/sliderSettings.scss";
@import "./components/Burger.scss";
@import "./components/UnderHeader.scss";
@import "./components/Pagination.scss";
@import "./components/LineSlider.scss";
@import "./components/BackToTop.scss";
@import "./../components/SideBar/SideBar.scss";
@import "../pages/PaintingDetails/AuthorCard/AuthorCard.scss";
@import "../pages/PaintingDetails/MultiPaintingBlock/MultiPaintingBlock.scss";
@import "../pages/PaintingDetails/PaintingBanner/PaintingBanner.scss";
@import "../components/BasicBtn/BasicBtn.scss";
// @import "../pages/CreatePainting/CreatePainting.scss";
// @import "../pages/CreateCategory/CreateCategory.scss";

// pages
@import "../pages/PaintingDetails/PaintingDetails.scss";
@import "../layouts/AdminLayout/AdminLayout.scss";
// @import "../pages/Admin/PaintingsList/PaintingsList.scss";
// @import "../pages/Admin/CategoryList/CategoryList.scss";

body {
  font-family: roboto;
  font-weight: 400;
}

.container {
  max-width: 1230px;
  margin: 0 auto;

  @media (max-width: 1300px) {
    max-width: 992px;
  }
  @media (max-width: 992px) {
    padding: 0 20px;
    max-width: 868px;
  }
  @media (max-width: 768px) {
    padding: 0 20px;
  }
}
