@import "./statics/null.scss";
@import "./components/header.scss";
@import "./statics/font.scss";
@import "./components/FirstSection.scss";
@import "./pages/HomePage.scss";
@import "./components/FindArt.scss";
@import "./components/Team.scss";
@import "./components/BatBanner.scss";
@import "./components/KotAuth.scss";
@import "./components/advantages.scss";
@import "./components/Footer.scss";
@import "./components/DiscoverStyle.scss";
@import "./components/AllCategories.scss";
@import "./components/NewItems.scss";
@import "./components/NewItems2.scss";
@import "./components/SelectedArt.scss";
@import "./components/BuyOnline.scss";
@import "./pages/Auth.scss";
@import "./components/sliderSettings.scss";
@import "./components/Burger.scss";
@import "./components/UnderHeader.scss";
@import "./components/PaintingCard.scss";
@import "./components/Pagination.scss";
@import "./components/LineSlider.scss";
@import "./components/BackToTop.scss";

// pages
@import "./pages/Author.scss";

body {
  font-family: roboto;
  font-weight: 400;
}

.container {
  max-width: 1230px;
  margin: 0 auto;

  @media (max-width: 1300px) {
    max-width: 992px;
  }
  @media (max-width: 992px) {
    padding: 0 20px;
    max-width: 868px;
  }
  @media (max-width: 768px) {
    padding: 0 20px;
  }
}
