// roboto

@font-face {
  font-family: roboto;
  src: url("../../fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: roboto;
  src: url("../../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: roboto;
  src: url("../../fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: roboto;
  src: url("../../fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: roboto;
  src: url("../../fonts/roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

// inter

@font-face {
  font-family: inter;
  src: url("../../fonts/inter/static/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: inter;
  src: url("../../fonts/inter/static/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

// open-sans

@font-face {
  font-family: "open sans";
  src: url("../../fonts/open-sans/OpenSansHebrew-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "open sans";
  src: url("../../fonts/open-sans/OpenSansHebrew-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

// inder

@font-face {
  font-family: inder;
  src: url("../../fonts/inder/Inder-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

// monts

@font-face {
  font-family: monts;
  src: url("../../fonts/monts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

// lato

@font-face {
  font-family: lato;
  src: url("../../fonts/Lato/Lato-Black.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

// Fair

@font-face {
  font-family: fair;
  src: url("../../fonts/playfair/PlayfairDisplay-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

// railway

@font-face {
  font-family: railway;
  src: url("../../fonts/railway/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: railway;
  src: url("../../fonts/railway/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: railway;
  src: url("../../fonts/railway/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: railway;
  src: url("../../fonts/railway/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
// helv
@font-face {
  font-family: helv;
  src: url("../../fonts/Helvetica/HelveticaNeueCyr-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: helv;
  src: url("../../fonts/Helvetica/HelveticaNeueCyr-Black.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}
