.admin-login {
  height: 100vh;
  width: 100%;
  background: rgb(22, 22, 22);

  &__dashboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: pink;
    padding: 15px;
    border-radius: 10px;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;

    & p {
      font-size: 18px;
      color: black !important;
    }
  }

  &__logo {
    width: 50px;

    & img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    & input {
      border-radius: 10px;
      width: 450px;
      height: 30px;
      padding: 20px 10px;
    }

    & button {
      width: 100%;
      border-radius: 10px;
      padding: 10px 10px;
      background: rgba(229, 38, 137, 0.243);
      color: white;
    }
  }

  @media (max-width: 768px) {
    &__dashboard {
      width: 90%;
    }

    &__form {
      & input {
        width: 100%;
      }
    }
  }
}
